.btnContainer {
	background-color: #FB2E86;
	padding: 16px 40px;
	font-size: 16px;
	width: 10rem;
}

.primary {
	@apply text-white;
	transition: ease-in-out 0.3s;

	&:hover {
		background-color: #F2F2F2;
		color: #FB2E86;
	}
}

.secondary {
	background-color: #F2F2F2;
	padding: 8px 8px;
	transition: ease-in-out 0.3s;

	&:hover {
		background-color: #FB2E86;
		color: #F2F2F2;
	}
}

.tertiary {
	background-color: transparent;
	padding: 0px 0px;
	width: 3.5rem;
	border: none;

	&:hover {
		color: #FB2E86;
	}
}

.addCart {
	width: 8rem;
	background-color: #F2F2F2;
	padding: 8px 8px;

	&:hover {
		background-color: #FB2E86;
		color: #F2F2F2;
	}
}
.buyNow {
	width: 8rem;
	background-color: #FB2E86;
	padding: 8px 8px;
	color: #F2F2F2;
	
	&:hover {
		background-color: #F2F2F2;
		color: #151875;
	}
}